#main-root {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    -unity-font-definition: resource("Fonts/Raw/Tiny5-Regular");
}

#dialog {
    flex-grow: 0;
    min-width: 40%;
    min-height: 100%;
    max-width: 40px;
    max-height: 100px;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    align-self: flex-end;
}

#dialog-next-button {
}

.dialog-body {
    padding: 32px 48px 32px 48px;
}

.dialog-body-text {
    -unity-font-definition: resource("Fonts/Raw/Tiny5-Regular");
    color: rgb(240, 240, 240);
    font-size: 32px;
}

.dialog-button-slot {
    flex-grow: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dialog-button-slot #dialog-button-item {
    min-width: 50%;
}

#hud {
    width: 100%;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
    height: auto;
}

#main-info {
    flex-grow: 1;
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_0");
    flex-direction: row;
    gap: 8px;
}

#main-info > VisualElement {
    padding: 32px 12px 32px 12px;
}

#money {
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_1");
    flex-grow: 0;
    width: 330px;
    flex-direction: row;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

#inventory-button {
    width: 402px;
    color: rgb(239, 194, 153);
    font-size: 64px;
}

#day-content {
    flex-direction: row;
    flex-grow: 0;
    width: 350px;
}

#distance-status {
    flex-grow: 0;
    width: 437px;
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_17");
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#reach-distance-text {
    padding-top: 0;
    margin-top: 0;
    font-size: 54px;
    -unity-text-align: upper-center;
}

#party-content {
    flex-grow: 0;
    min-width: 128px;
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_17");
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}

#inventory {
    flex-grow: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    margin-bottom: 240px;
    margin-top: 180px;
    margin-right: 16px;
    margin-left: 16px;
}

#inventory-button-slot {
    flex-grow: 0;
    padding-top: 16px;
    flex-direction: column;
}

#inventory-weight {
    font-size: 32px;
    -unity-text-align: middle-right;
}

#inventory-scroll-view {
    flex-grow: 1;
}

#inventory-scroll-view Scroller {
}

#inventory-content {
    width: 35%;
    flex-grow: 0;
    padding-right: 32px;
    padding-left: 32px;
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_17");
    margin-bottom: 16px;
    margin-top: 16px;
    padding-bottom: 48px;
    padding-top: 48px;
}

.inventory-drop-button {
    height: 100px;
    width: 325px;
}
