.button {
    color: white;
    background-image: resource("Sprites/Hud_Ui#Hud_Ui_17");
    background-color: rgba(0, 0, 0, 0);
    -unity-font-definition: resource("Fonts/Raw/Tiny5-Regular");
    font-size: 38px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition-property: filter;
    transition-duration: 0.1s;
}

.button:hover {
    filter: tint(rgb(209, 209, 209));
    transition-property: filter;
    transition-duration: 0.1s;
}

.button Image {
    padding-right: 12px;
}

.text {
    -unity-font-definition: resource("Fonts/Raw/Tiny5-Regular");
    color: rgb(205, 174, 132);
    font-size: 48px;
}

.icon-button {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    aspect-ratio: 1;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.icon-button Image {
}

.button-image48 > Image {
    height: 48px;
    width: 48px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-image64 > Image {
    height: 64px;
    width: 64px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button-image96 > Image {
    height: 96px;
    width: 96px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}